<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{disscussion.name}}</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/disscussion.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/comment.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/collection.css">
</head>
<body>
    <div class="top_menu">
        <ul class="link_menu">
            <li class="item"><a class="jump" href="/home/">首页</a></li>
            <li class="item"><a class="jump" href="/work/none/">作品</a></li>
            <li class="item"><a class="jump" href="/disscussion/">讨论</a></li>
            <li class="item"><a class="jump" href="/question/">问题</a></li>
        </ul>
        <ul class="user_menu">
            {% if request.session.is_login %}
                <li class="item"><a class="jump" href="/user/">{{ request.session.user_name }}</a></li>
                <li class="item"><a class="jump" href="/write/disscussion/">发起讨论</a></li>
                <li class="item"><a class="jump" href="/logout/">注销</a></li>
            {% else %}
                <li class="item"><a class="jump" href="/signin/">登录</a></li>
                <li class="item"><a class="jump" href="/login/">注册</a></li>
            {% endif %}
        </ul>
    </div>
    <div class='disscussion_box'>
        <div class="disscussion_title">
            <div>{{disscussion.name}}</div>
        </div>
        <div class="disscussion_content">
            <div>{{disscussion.content}}</div>
        </div>
        <div class="user_date">
            <div>作者：{{disscussion.user_name}}</div>
            <div>时间：{{disscussion.date}}</div>
        </div>
        {% if request.session.is_login %}
            <form class="collection_box_2" action="./" method="POST">
                {% csrf_token %}
                <button type='submit' class="{{collection}}" name="collection_update">收藏</button>
            </form>
        {% endif %}
    </div>
    {% if request.session.is_login %}
        <form class='write_content_box' action="./" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="content">评论：</label><br>
                <textarea class="write_textarea_2" name='content' id="content" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" name="comment_update">提交</button>
            </div>
        </form>
    {% endif %}
    <<div class="comment_list">
        {% for comment in comment_list %}
            <div class="comment-group">
                <div class="comment-row">
                    用户：{{comment.user_name}}
                </div>
                <div class="comment-row">
                    {{comment.content}}
                </div>
                <div class="comment-row">
                    时间：{{comment.date}}
                </div>
                {% if comment.user_id == request.session.user_id%}
                    <form class="comment_delete_box" action="./" method="POST">
                        {% csrf_token %}
                        <input type="number" class="hidden_id" name='delete_id' value="{{comment.id}}">
                        <button type='submit' class="comment_delete_botton" name="comment_delete">删除</button>
                    </form>
                {% endif %}
            </div>
        {% empty %}
            <div class="comment-row">
                无评论
            </div>
        {% endfor %}
    </div>>
</body>
</html>
