<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>讨论页</title>

    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/disscussion.css">
</head>
<body>
    <div class="top_menu">
        <ul class="link_menu">
            <li class="item"><a class="jump" href="/home/">首页</a></li>
            <li class="item"><a class="jump" href="/work/none/">作品</a></li>
            <li class="item"><a class="jump" href="/disscussion/">讨论</a></li>
            <li class="item"><a class="jump" href="/question/">问题</a></li>
        </ul>
        <form class="search_menu" action="/search/search_key/disscussion/all/" method="post">
            {% csrf_token %}
            <input class="search_box" type="text" name="search_key">
            <button type="submit">搜索</button>
        </form>
        <ul class="user_menu">
            {% if request.session.is_login %}
                <li class="item"><a class="jump" href="/user/">{{ request.session.user_name }}</a></li>
                <li class="item"><a class="jump" href="/write/disscussion/">发起讨论</a></li>
                <li class="item"><a class="jump" href="/logout/">注销</a></li>
            {% else %}
                <li class="item"><a class="jump" href="/signin/">登录</a></li>
                <li class="item"><a class="jump" href="/login/">注册</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="disscussion_list">
        {% for disscussion in disscussion_list %}
            <div class="disscussion-group">
                <a class="disscussion_jump" href="./{{disscussion.id}}/">{{disscussion.name}}</a>
            </div>
        {% empty %}
            <div class="disscussion-group">
                无讨论
            </div>
        {% endfor %}
    </div>
</body>
</html>
