<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>作品安利</title>

    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>
<body>
    <div class="top_menu">
        <ul class="link_menu">
            <li class="item"><a class="jump" href="/home/">首页</a></li>
            <li class="item"><a class="jump" href="/work/">作品</a></li>
            <li class="item"><a class="jump" href="/disscussion/">讨论</a></li>
            <li class="item"><a class="jump" href="/question/">问题</a></li>
        </ul>
        <form class="search_menu" action="/search/search_key/work/" method="post">
            {% csrf_token %}
            <input class="search_box" type="text" name="search_key">
            <button type="submit">搜索</button>
        </form>
        <ul class="user_menu">
            {% if request.session.is_login %}
                <li class="item"><a class="jump" href="/user/">{{ request.session.user_name }}</a></li>
                <li class="item"><a class="jump" href="/logout/">注销</a></li>
            {% else %}
                <li class="item"><a class="jump" href="/signin/">登录</a></li>
                <li class="item"><a class="jump" href="/login/">注册</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="work_list">
        <div class="list_title">作品</div>
        {% for work in example.work_list %}
            <div class="list-group">
                <a class="list_jump_1" href="../work/{{work.id}}/">{{work.name}}</a>
            </div>
        {% empty %}
            <div class="list-group">无</div>
        {% endfor %}
    </div>
    <div class="discuss_list">
        <div class="list_title">讨论</div>
        {% for disscussion in example.disscussion_list %}
            <div class="list-group">
                <a class="list_jump_2" href="../disscussion/{{disscussion.id}}/">{{disscussion.name}}</a>
            </div>
        {% empty %}
            <div class="list-group">无</div>
        {% endfor %}
    </div>
    <div class="question_list">
        <div class="list_title">问题</div>
        {% for question in example.question_list %}
            <div class="list-group">
                <a class="list_jump_2" href="../question/{{question.id}}/">{{question.name}}</a>
            </div>
        {% empty %}
            <div class="list-group">无</div>
        {% endfor %}
    </div>
</body>
</html>
