<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>注册</title>

    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/user.css">
</head>
<body>
    <div class="top_menu">
        <ul class="link_menu">
            <li class="item"><a class="jump" href="/home/">首页</a></li>
            <li class="item"><a class="jump" href="/work/none/">作品</a></li>
            <li class="item"><a class="jump" href="/disscussion/">讨论</a></li>
            <li class="item"><a class="jump" href="/question/">问题</a></li>
        </ul>
        <ul class="user_menu">
            {% if request.session.is_login %}
                <li class="item"><a class="jump" href="/user/">{{ request.session.user_name }}</a></li>
                <li class="item"><a class="jump" href="/logout/">注销</a></li>
            {% else %}
                <li class="item"><a class="jump" href="/signin/">登录</a></li>
                <li class="item"><a class="jump" href="/login/">注册</a></li>
            {% endif %}
        </ul>
    </div>
    <form class='login_box' action="/login/" method="post">
        {% if message %}
            <div class="warn_box">{{ message }}</div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="username">用户名：</label><br>
            <input type="text" name='username' id="username" placeholder="用户名" autofocus required>
        </div>
        <div class="form-group">
            <label for="password1">密码：</label><br>
            <input type="password" name='password1' id="password1" placeholder="密码" required>
        </div>
        <div class="form-group">
            <label for="password2">确认密码：</label><br>
            <input type="password" name='password2' id="password2" placeholder="再次输入密码" required>
        </div>
        <div class="form-group">
            <label for="email">邮箱：</label><br>
            <input type="email" name='email' id="email" placeholder="邮箱" required>
        </div>
        <div class="form-group">
            <button type="submit">注册</button>
        </div>
    </form>
</body>
</html>
