<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>讨论重写页</title>

    <link rel="stylesheet" type="text/css" href="../../../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/disscussion.css">
</head>
<body>
    <div class="top_menu">
        <ul class="link_menu">
            <li class="item"><a class="jump" href="/home/">首页</a></li>
            <li class="item"><a class="jump" href="/works/all/all/all/date/">作品</a></li>
            <li class="item"><a class="jump" href="/disscussion/">讨论</a></li>
            <li class="item"><a class="jump" href="/question/">问题</a></li>
        </ul>
        <ul class="user_menu">
            {% if request.session.is_login %}
                <li class="item"><a class="jump" href="/user/">{{ request.session.user_name }}</a></li>
                <li class="item"><a class="jump" href="/logout/">注销</a></li>
            {% else %}
                <li class="item"><a class="jump" href="/signin/">登录</a></li>
                <li class="item"><a class="jump" href="/login/">注册</a></li>
            {% endif %}
        </ul>
    </div>
    <form class='write_disscussion_box' action="./" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">标题：</label><br>
            <input type="text" class="write_text" name='title' id="title" placeholder="标题" value="{{text.title}}" autofocus required>
        </div>
        <div class="form-group">
            <label for="content">内容：</label><br>
            <textarea class="write_textarea_1" name='content' id="content" placeholder="内容" required>{{text.content}}</textarea>
        </div>
        <div class="form-group">
            <button type="submit">提交</button>
        </div>
    </form>
</body>
</html>
