<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>作品页</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/work.css">
</head>
<body>
    <div class="top_menu">
        <ul class="link_menu">
            <li class="item"><a class="jump" href="/home/">首页</a></li>
            <li class="item"><a class="jump" href="/work/none/">作品</a></li>
            <li class="item"><a class="jump" href="/disscussion/">讨论</a></li>
            <li class="item"><a class="jump" href="/question/">问题</a></li>
        </ul>
        <form class="search_menu" action="/search/search_key/work/all/" method="post">
            {% csrf_token %}
            <input class="search_box" type="text" name="search_key">
            <button type="submit">搜索</button>
        </form>
        <ul class="user_menu">
            {% if request.session.is_login %}
                <li class="item"><a class="jump" href="/user/">{{ request.session.user_name }}</a></li>
                <li class="item"><a class="jump" href="/write/work/">推荐作品</a></li>
                <li class="item"><a class="jump" href="/logout/">注销</a></li>
            {% else %}
                <li class="item"><a class="jump" href="/signin/">登录</a></li>
                <li class="item"><a class="jump" href="/login/">注册</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="work_list">
        {% for work in work_list %}
            <div class="work-group">
                <a class="work_jump" href="../detail/{{work.id}}/">{{work.name}}</a>
            </div>
        {% empty %}
            <div class="work-group">
                无作品
            </div>
        {% endfor %}
    </div>
    <div class="screening_list">
        {% for entry in tag_list %}
            <div class="screening-group"><a class="screening_jump" href="/work/{{entry.name}}/">{{entry.name}}</a></div>
        {% endfor %}
    </div>
</body>
</html>
