form.write_content_box{
    float:left;
    width:60%;
    margin-top:1%;
    margin-left:6%;
}

textarea.write_textarea_2{
    height:120px;
    width:80%;
}

.comment_list{
    float:left;
    width:80%;
    margin-top:1%;
    margin-bottom:3%;
    margin-left:6%;
}

.best_comment{
    margin-top:1%;
    margin-left:3%;
    border-style:solid;
    border-color:#FF0000;
    border-width:3px;
}

.comment-group{
    margin-top:1%;
    margin-left:3%;
    border-style:solid;
    border-color:#949494;
    border-width:3px;
}

.comment-row{
    margin-top:1%;
    margin-left:3%;
}

form.answer_update_box{
    float:right;
    margin-top:-2%;
    margin-right:1%;
}

form.comment_delete_box{
    float:right;
    margin-top:-2%;
    margin-right:1%;
}

input.hidden_id{
    display:none;
}

