.score_box_1{
    float:right;
    height:180px;
    width:24%;
    margin-top:-38%;
    margin-right:4%;
    border-style:solid;
    border-color:#e0da00;
    border-width:3px;
}

.score_box_2{
    float:right;
    height:180px;
    width:24%;
    margin-top:-46%;
    margin-right:4%;
    border-style:solid;
    border-color:#e0da00;
    border-width:3px;
}

.avg_score{
    margin-top:10%;
    margin-left:15%;
    font-size:30px
}

.user_score{
    margin-top:8%;
    margin-left:25%;
    font-size:20px
}

form.write_score_box{
    margin-top:8%;
    margin-left:15%;
}
