.warn_box{
    margin-top:4%;
    margin-left:6%;
    margin-right:6%;
    background-color:#ffdd8f;
}

form.signin_box{
    float:left;
    height:260px;
    width:28%;
    margin-top:8%;
    margin-left:36%;
    border-style:solid;
    border-color:#8a8a8a;
    border-width:2px;
}

form.login_box{
    float:left;
    height:360px;
    width:28%;
    margin-top:8%;
    margin-left:36%;
    border-style:solid;
    border-color:#8a8a8a;
    border-width:2px;
}

.form-group{
    margin-top:4%;
    margin-left:14%;
}

.choose_work_list{
    float:left;
    width:60%;
    height:440px;
    margin-top:8%;
    margin-left:20%;
    border-style:solid;
    border-color:#949494;
    border-width:3px;
}

.choose_title{
    width:99%;
    margin-top:0%;
    margin-left:0%;
    padding:5px 3px;
    background-color:#949494;
    font-size:18px;
}

.list-group{
    margin-top:1%;
    margin-left:3%;
}

a.list_jump{
    font-size:32px;
    color:#000000;
    text-decoration:none;
}
